[Unit]
Description=Change file permissions for the backlight brightness file on startup
After=multi-user.target

[Service]
ExecStart=chmod 666 "$BACKLIGHT_BRIGHTNESS"

[Install]
WantedBy=graphical.target
